$small-width-1: 768px;
$small-width-2: 998px;
$medium-width-1: 1228px;
$medium-width-2: 1458px;
$large-width-1: 1688px;
$large-width-2: 1918px;

// TODO: Refactor css

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --dark-cyan: #2F6B73;
  --cyan: #688F9C;
  --coral: #D85E51;
  --cyan-rgb: 104, 143, 156; // 114, 134, 211;
  --coral-rgb: 216, 94, 81;
  --quote-bg: #ECF6FB; // #f0f0f8
  --light-cyan: #A7CDD6;
  --light-cyan-rgb: 167, 205, 214;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  hyphens: auto;
  font-size: 14px;
  @media(min-width: $small-width-1) {
    font-size: 16px;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

div.center, div.content {
  width: 100%;
  @media(min-width: $medium-width-1) {
    max-width: $small-width-1;
  }
  @media(min-width: $medium-width-2) {
    max-width: $small-width-2;
  }
}

div.content {
  img {
    width: 100%;
  }
}

footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: 0.8em;
  bottom: 0;
  width: 100%;
  padding: 2rem 1rem;
  background: #468;
  color: #fff;

  ul {
    list-style: none;
  }

  ul li a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  div.website-menus {
    display: flex;
    flex-flow: row;
    gap: 2em;
  }

  p.copyright-notice {
    border-bottom: 1px solid #358;
    padding-bottom: 12px;
    margin-bottom: 12px;
  }
}

div.content {
  padding: 0 1em;
  flex: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0.4em;
}

h1 {
  font-size: 2rem;
  @media(min-width: $small-width-1) {
    font-size: 3rem;
  }
}
h2 {
  font-size: 1.8rem;
  @media(min-width: $small-width-1) {
    font-size: 2.5rem;
  }
}
h3 {
  font-size: 1.5rem;
  @media(min-width: $small-width-1) {
    font-size: 1.9rem;
  }
}
h4 {
  font-size: 1.3rem;
}
h5 {
  font-size: 1.1rem;
}
h6 {
  font-size: 0.8rem;
}

nav.navigation {
  background: #eee;
  padding: 0 24px;
  width: 100%;
  @media(min-width: $small-width-1) {
    height: 64px;
  }

  @media(min-width: $large-width-1) {
    padding: 0 230px;
  }

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  @media(min-width: $small-width-1) {
    flex-flow: row;
    justify-content: space-between;
  }

  a.logo {
    display: flex;
    align-items: center;

    img {
      height: 48px;
      border-radius: 50%;
    }

    span {
      margin-left: 6px;
      font-weight: 600;
    }
  }

  ul.navigation-links {
    list-style: none;
    display: flex;
    flex-flow: column;
    @media(min-width: $small-width-1) {
      flex-flow: row;
    }

    @media(max-width: $small-width-1) {
      li {
        margin: 12px;
        &:last-child {
          margin-bottom: 24px;
        }
      }
    }

    &, li, li a {
      height: 100%;
    }

    li {
      @media(min-width: $small-width-1) {
        transition: color, background;
        transition-duration: 0.2s;
        transition-timing-function: ease-out;
        &:hover {
          color: #000;
          background: #ccd0d0;
        }
      }

      a {
        padding: 0 24px;
        display: flex;
        align-items: center;
      }
    }
  }
}

div.hero {
  height: 50vh;
  @media(min-width: $small-width-1) {
    height: 70vh;
  }
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;

  nav.navigation {
    color: #000;
  }
  @media(min-width: $small-width-1) {
    nav.navigation {
      color: #fff;
      background: none;
      z-index: 1;
      a.logo span {
        margin-left: 24px;
        background: var(--dark-cyan);
      }
    }

    div.hero-fill {
      position: absolute;
    }
  }

  div.hero-fill {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;

    div.hero-background {
      background-color: rgba(0, 0, 0, 0.3);
      width: 100%;
      height: 100%;

      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
    }

    h1.title-container {
      color: #fff;
      padding: 5px 20px;
      border: 4px solid #fff;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: 1.5rem;
      @media(min-width: $small-width-1) {
        font-size: 3rem;
      }
      text-align: center;
      display: block;
      max-width: 80%;

      span {
        background: linear-gradient(rgba(0,0,0,0) 27%, var(--dark-cyan) 27%, var(--dark-cyan) 88%, rgba(0,0,0,0) 88%);
      }
    }
  }
}

section.articles ul.articles-list {
  list-style: none;
  display: flex;
  flex-flow: column;
  gap: 12px;
  li {
    flex: 1;
    a {
      display: block;
      .title {
        font-size: 1.5rem;
      }
      .author {
        font-family: 'Noto Serif', sans-serif;
        font-weight: 400;
        color: #454545;
      }
      img {
        max-height: 80vh;
        // width: auto;
        margin-bottom: 0.3em;
      }
    }
  }

  @media(min-width: $small-width-1) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    li {
      min-width: 30%;
    }
  }
}

.save-button {
  color: #fff;
  background-color: #689854; // #6AAD54;
}
.delete-button {
  color: #ffeae5;
  background-color: #bf4242; // #6AAD54;
}

.checkbox-label {
  margin-bottom: 10px;
  display: flex;
  flex-flow: row;
  gap: 0.5em;
}

.input-label {
  margin-bottom: 15px;
  display: block;
  input, textarea {
    display: block;
  }
}

button, input[type="submit"], .button {
  font-weight: 600;
  background-color: #e8e8e8;
  color: #000;
  line-height: 1.3em;
  padding: 10px;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
  }
}

input, textarea, button, .button, select {
  font-size: 0.9rem;
  border: 1px solid transparent;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
  margin-bottom: 0.3em;
  border: 1px solid #ddd;
  padding: 10px;
}

input, textarea, button, .button, select {
  &:focus {
    outline: none;
    border: 1px solid cornflowerblue;
  }
}

hr {
  border: 2px solid #ddd;
}

section.archive-menu {
  button.new-entry {
    margin: 25px 0;
    width: 100%;
    display: block;
  }

  div.entry {
    padding: 20px;
    margin: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-flow: row;

    div.entry-files form.no-margin-bottom {
      margin-bottom: 0;
    }

    form.entry-info {
      min-width: 60%;
      max-width: 70%;
      margin-right: 20px;
      padding-right: 20px;
      border-right: 1px solid #ddd;

      input, textarea {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}

section.archive {
  display: flex;
  flex-flow: column;
  justify-content: start;
  gap: 12px;

  div.entry {
    padding: 20px 30px;
    background: #E8D4B3;
    flex: 1;
    display: flex;
    flex-flow: column;
    align-items: start;

    div.info {
      width: 100%;
      padding: 10px 0;
      margin-bottom: 10px;
      // border-bottom: 1px solid #888;
    }

    .author {
      font-family: 'Noto Serif', sans-serif;
      font-weight: 400;
      color: #454545;
    }

    div.file-list {
      ul {
        list-style: none;
        display: flex;
        flex-flow: row;

        li {
          margin-right: 5px;
          a {
            padding: 10px;
            display: block;
          }
        }
      }
    }
  }
}

section.articles-dashboard {
  padding-top: 10px;

  div#entry-list {
    padding-top: 10px;
    display: flex;
    flex-flow: row wrap;
  }

  div.entry {
    padding: 10px;
    border: 1px solid #eee;

    a.edit {
      display: block;
      color: #fff;
      background: cornflowerblue;
      text-align: center;
    }

    span.success {
      display: block;
      margin-top: 6px;
      padding: 10px;
      background: #689854;// lightgreen;
      color: #fff;
    }
  }
}

.flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
}

.flex-row-nowrap {
  display: flex;
  flex-flow: row nowrap;
}

.flex-column {
  display: flex;
  flex-flow: column;
}

.flex-1 {
  flex: 1;
}

.gap-24px {
  gap: 24px;
}

.gap-12px {
  gap: 12px;
}

.gap-03rem {
  gap: 0.3em;
}

.no-margin {
  margin: 0;
}

.htmx-indicator {
  display: none;
}

.htmx-request .htmx-indicator {
  display: block;
}

section.article-edit {
  padding-top: 24px;

  .information-container {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    input {
      width: 100%;
    }
    button#save {

    }
  }
}

.separator-bottom {
  margin-bottom: 0.8rem;
  border-bottom: 3px solid #ddd;
}

.horizontal-center {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.font-light {
  font-weight: 400;
  color: #222;
}

section.article {
  font-size: 1.2rem;
  font-family: 'Montserrat', serif;
  font-weight: 450;
  line-height: 1.6;
  hyphens: auto;

  div.block {
    margin-bottom: 0.7em;
  }

  p.paragraph {
    text-align: justify;
  }

  .heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }

  a:not(.heading-anchor) {
    color: var(--cyan);
    position: relative;

    background: linear-gradient(rgba(var(--cyan-rgb), 0) 52%, rgba(var(--cyan-rgb), 1) 52%);
    background-size: auto 175%;
    transition: color, background-position-y;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;

    &:hover {
      color: #fff;
      background-position-y: 100%;
    }
  }

  .list {
    margin-left: 1.6rem;
  }

  figure {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 12px;

    p.quote-text {
      padding: 1.6rem;
      background: var(--quote-bg);
      border-left: 4px solid var(--cyan);
      font-style: italic;
    }

    figcaption {
      font-size: 0.9em;
      color: #1f1f1f;
      text-align: center;
    }

    &.quote {
      img.hand-indicator {
        display: none;
      }
      @media(min-width: $medium-width-1) {
        flex-flow: row;
        align-items: start;
        gap: 0;
        position: relative;

        p.quote-text {
          margin-bottom: 0;
          border: none;
        }

        div.left-border {
          position: absolute;
          left: -26px;
          border-left: 4px solid var(--cyan);
          height: 100%;
        }

        figcaption {
          position: relative;
          line-height: 1;
          color: #000;
          div.absolute-helper {
            position: absolute;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            left: 15px;
            gap: 15px;
            div {
              min-width: 138px;
              max-width: 139px;
              text-align: left;
            }
            span {
              font-weight: 600;
              background: linear-gradient(rgba(var(--light-cyan-rgb), 0) 15%, rgba(var(--light-cyan-rgb), 1) 15%, rgba(var(--light-cyan-rgb), 1) 110%, rgba(var(--light-cyan-rgb), 0) 110%);
              background-position-y: 0.3em;
              background-repeat: no-repeat;
            }

            img.hand-indicator {
              display: block;
              max-width: 50px;
            }
          }
        }
      }
    }

    &.image {
      display: flex;
      flex-flow: column;
      align-items: center;
      @media(min-width: $small-width-1) {
        padding: 2rem 0;
      }

      img {
        @media(min-width: $small-width-1) {
          max-height: 60vh;
          max-width: 100%;
          width: auto;
        }
      }
    }

    & *:last-child {
      margin-bottom: 0;
    }
  }
}

ul.admin-menu {
  list-style: none;
}

ul.admin-menu a, form.file-picker a {
  color: var(--cyan);
  position: relative;

  background: linear-gradient(rgba(var(--cyan-rgb), 0) 52%, rgba(var(--cyan-rgb), 1) 52%);
  background-size: auto 175%;
  transition: background-position-y, color;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;

  &:hover {
    color: #fff;
    background-position-y: 100%;
  }
}
